

@-webkit-keyframes antCheckboxEffect {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
  }
  @keyframes antCheckboxEffect {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
  }
  .ant-tree-checkbox {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: text-bottom;
  }
  .ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
  .ant-tree-checkbox:hover .ant-tree-checkbox-inner,
  .ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
    border-color: #108ee9;
  }
  .ant-tree-checkbox-checked:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #108ee9;
    content: '';
    -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
            animation: antCheckboxEffect 0.36s ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    visibility: hidden;
  }
  .ant-tree-checkbox:hover:after,
  .ant-tree-checkbox-wrapper:hover .ant-tree-checkbox:after {
    visibility: visible;
  }
  .ant-tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #fff;
    transition: all .3s;
  }
  .ant-tree-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  }
  .ant-tree-checkbox-input {
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after {
    content: ' ';
    -webkit-transform: scale(1);
            transform: scale(1);
    position: absolute;
    left: 2px;
    top: 5px;
    width: 8px;
    height: 1px;
  }
  .ant-tree-checkbox-indeterminate.ant-tree-checkbox-disabled .ant-tree-checkbox-inner:after {
    border-color: rgba(0, 0, 0, 0.25);
  }
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner,
  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner {
    background-color: #108ee9;
    border-color: #108ee9;
  }
  .ant-tree-checkbox-disabled {
    cursor: not-allowed;
  }
  .ant-tree-checkbox-disabled.ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
    -webkit-animation-name: none;
            animation-name: none;
    border-color: rgba(0, 0, 0, 0.25);
  }
  .ant-tree-checkbox-disabled .ant-tree-checkbox-input {
    cursor: not-allowed;
  }
  .ant-tree-checkbox-disabled .ant-tree-checkbox-inner {
    border-color: #d9d9d9 !important;
    background-color: #f7f7f7;
  }
  .ant-tree-checkbox-disabled .ant-tree-checkbox-inner:after {
    -webkit-animation-name: none;
            animation-name: none;
    border-color: #f7f7f7;
  }
  .ant-tree-checkbox-disabled + span {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .ant-tree-checkbox-wrapper {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
  }
  .ant-tree-checkbox-wrapper:not(:last-child) {
    margin-right: 8px;
  }
  .ant-tree-checkbox-wrapper + span,
  .ant-tree-checkbox + span {
    padding-left: 8px;
    padding-right: 8px;
  }
  .ant-tree-checkbox-group {
    font-size: 12px;
  }
  .ant-tree-checkbox-group-item {
    display: inline-block;
  }
  @media \0screen {
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner:before,
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
      font-family: 'anticon';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\E632";
      font-weight: bold;
      font-size: 8px;
      border: 0;
      color: #fff;
      left: 2px;
      top: 3px;
      position: absolute;
    }
  }
  .ant-tree {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .ant-tree span[draggable="true"] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    margin-top: -2px;

    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  .ant-tree .node-drop-slot {
    display: block;
    height: 2px;
  }
  .ant-tree .node-drop-slot.is-dragging-over {
    background-color: #108ee9;
  }
  .ant-tree-node {
    padding: 4px 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;
    position: relative;
  }
  .ant-tree-node .tree-children {
    margin: 0;
    padding: 0 0 0 18px;
    overflow: hidden;
  }
  .ant-tree-node .tree-node-loading {
    position: absolute;
    left: 1px;
    top: 5px;
    background: #fff;
    transition: all .3s;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .ant-tree-node .tree-node-loading:after {
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E6AE";
    -webkit-animation: loadingCircle 1s infinite linear;
            animation: loadingCircle 1s infinite linear;
    color: #108ee9;
  }
  .ant-tree .ant-tree-node-content-wrapper {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.65);
    transition: all .3s;
    position: relative;
  }
  .ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: #ecf6fd;
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #d2eafb;
  }
  .ant-tree .ant-tree-node-content-wrapper.is-dragging-over {
    background-color: #108ee9;
    color: white;
    opacity: 0.8;
  }
  .ant-tree span.ant-tree-checkbox {
    margin: 0 4px 0 2px;
    vertical-align: middle;
  }
  .ant-tree span.ant-tree-switcher,
  .ant-tree span.ant-tree-iconEle {
    margin: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    text-align: center;
  }
  .ant-tree span.ant-tree-icon_loading {
    position: absolute;
    left: 0;
    top: 1px;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: all .3s;
  }
  .ant-tree span.ant-tree-icon_loading:after {
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E6AE";
    -webkit-animation: loadingCircle 1s infinite linear;
            animation: loadingCircle 1s infinite linear;
    color: #108ee9;
  }
  .ant-tree span.ant-tree-switcher.ant-tree-switcher-noop {
    cursor: default;
  }
  .ant-tree span.ant-tree-switcher.ant-tree-switcher_open:after {
    font-size: 12px;
    font-size: 7px \9;
    -webkit-transform: scale(0.58333333) rotate(0deg);
            transform: scale(0.58333333) rotate(0deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E606";
    font-weight: bold;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  :root .ant-tree span.ant-tree-switcher.ant-tree-switcher_open:after {
    -webkit-filter: none;
            filter: none;
  }
  :root .ant-tree span.ant-tree-switcher.ant-tree-switcher_open:after {
    font-size: 12px;
  }
  .ant-tree span.ant-tree-switcher.ant-tree-switcher_close {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  }
  .ant-tree span.ant-tree-switcher.ant-tree-switcher_close:after {
    font-size: 12px;
    font-size: 7px \9;
    -webkit-transform: scale(0.58333333) rotate(0deg);
            transform: scale(0.58333333) rotate(0deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E606";
    font-weight: bold;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  :root .ant-tree span.ant-tree-switcher.ant-tree-switcher_close:after {
    -webkit-filter: none;
            filter: none;
  }
  :root .ant-tree span.ant-tree-switcher.ant-tree-switcher_close:after {
    font-size: 12px;
  }
  .ant-tree span.ant-tree-switcher.ant-tree-switcher_close:after {
    -webkit-transform: rotate(270deg) scale(0.59);
            transform: rotate(270deg) scale(0.59);
  }
  .ant-tree:last-child > span.ant-tree-switcher:before,
  .ant-tree:last-child > span.ant-tree-iconEle:before {
    display: none;
  }
  .ant-tree.ant-tree-show-line .ant-tree-node {
    position: relative;
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher {
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher-noop:after {
    font-size: 12px;
    font-size: 12px \9;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E664";
    vertical-align: baseline;
    font-weight: normal;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher-noop:after {
    -webkit-filter: none;
            filter: none;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher-noop:after {
    font-size: 12px;
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_open {
    color: rgba(0, 0, 0, 0.43);
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_open:after {
    font-size: 12px;
    font-size: 12px \9;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E621";
    vertical-align: baseline;
    font-weight: normal;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_open:after {
    -webkit-filter: none;
            filter: none;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_open:after {
    font-size: 12px;
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_close {
    color: rgba(0, 0, 0, 0.43);
  }
  .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_close:after {
    font-size: 12px;
    font-size: 12px \9;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E645";
    vertical-align: baseline;
    font-weight: normal;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_close:after {
    -webkit-filter: none;
            filter: none;
  }
  :root .ant-tree.ant-tree-show-line .ant-tree-node span.ant-tree-switcher.ant-tree-switcher_close:after {
    font-size: 12px;
  }
  .ant-tree.ant-tree-show-line tree-node:not(:last-child) .ant-tree-node:before {
    content: ' ';
    width: 1px;
    border-left: 1px solid #d9d9d9;
    height: 100%;
    position: absolute;
    left: 11px;
    margin: 20px 0;
  }
